# Sunucu Yapılandırması
PORT=3000
OTURUM_GIZLI_ANAHTAR=ornek_gizli_anahtar_buraya

# İlk Süper Admin Bilgileri
SUPER_ADMIN_EPOSTA=admin@akparti.org.tr
SUPER_ADMIN_SIFRE=1234

# Domain ve Geliştirme Ayarları
GELISTIRME_MODU=true
DOMAIN_TANITIM=localhost
DOMAIN_PANEL=panel.localhost
DOMAIN_YONETIM=yonetim.localhost
